# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/gah/FileContentIndex/6ebac6e5-618d-4cd3-8f8f-a1ed8e8970f0.vsidx
/.vs/gah/FileContentIndex/8ee11a61-a018-4b7e-935f-fd59f260f143.vsidx
/.vs/gah/FileContentIndex/dce27d83-a7f6-4e59-aaca-ce913b60ba8a.vsidx
